<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <table class="container">
      <tr>
        <td>
          <table class="content">
            <tr>
              <td class="masthead">
                <img
                  src="http://services.google.com/fh/files/emails/gx_logo_hr_384x72.png"
                />
                {% if n == 2 %} Nunjucks worked! {% else %} Whoopsie! {% endif %}
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
